{% extends "base.tera" %}
{% block content %}
<div>
	<h1>{{ data.title }}</h1>
	<span>published {{ data.readable_timestamp }}</span>
	{% if data.draft %}
	<h2>DRAFT</h2>
	{% endif %}
	<p>{{ data.desc }}</p>
	<div>
		{{ data.content | safe }}
	</div>
	<hr />
	<h3>tags</h3>
	<div>
		{% for tag in data.tags %}
		<a href="/!!RESOURCE_TYPE!!/tag/{{tag}}">{{ tag }}</a>{% if not loop.last %},{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}
