<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="no-referrer">
	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>
	<header class="main-header">
		<span>
			<a class="name" href="/">webdog</a>
		</span>
		<span class="spacer"></span>
		<a href="/docs/">documentation</a> |
		<a href="https://github.com/zyllian/webdog" rel="noopener noreferrer">github</a>
	</header>
	<div id="content">
		{% block precontent %}{% endblock precontent %}
		<main class="page">
			{% block content %}{{ page | safe }}{% endblock content %}
		</main>
		{% block postcontent %}{% endblock postcontent %}
	</div>
</body>

</html>
